<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties> <Property name="baseDir">MCBootstrap/logs</Property> </Properties>
    <Appenders>
        <Console name="MCBootstrap-Console"> <PatternLayout pattern="\r[%d{HH:mm:ss}] [%level] %msg%n> "/> </Console>
        <RollingFile name="MCBootstrap-File" filePattern="${baseDir}/launch ${date:HH.mm.ss yyyy.MM.dd}.log">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level] %msg%n" />
            <Policies> <OnStartupTriggeringPolicy /> </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="MCBootstrap-Console"/>
            <AppenderRef ref="MCBootstrap-File"/>
        </Root>
    </Loggers>
</Configuration>